<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
  <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{- partial "favicon.html" . -}}
  <title>{{- block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{- end }}</title>
  {{- partial "seo_tags.html" . -}}
  <meta name="referrer" content="no-referrer-when-downgrade" />
  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  {{- partial "style.html" . -}}

  <link rel="stylesheet" href="/css/fancybox.css"/>
  <link rel="stylesheet" href="/css/APlayer.min.css">
</head>

<body>

  <header>
    {{- partial "header.html" . -}}
  </header>

  <main>
    {{- block "main" . }}{{- end }}
  </main>

  <footer>
    {{- partial "footer.html" . -}}
  </footer>

</body>
  <script src="/js/APlayer.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/fancybox.umd.js"></script>
  <script src="/js/custom.js"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MV0ELWDBYM"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-MV0ELWDBYM');
  </script>
  <!-- umami -->
  <script async defer data-website-id="89984862-f5d1-4d17-9cb1-54c121ea604d" src="https://umami.gujiakai.top/umami.js"></script>
</html>
