<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
  <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{- partial "favicon.html" . -}}
  <title>{{- block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{- end }}</title>
  {{- partial "seo_tags.html" . -}}
  <meta name="referrer" content="no-referrer-when-downgrade" />
  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  {{- partial "style.html" . -}}

  <!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
  {{- partial "custom_head.html" . -}}
  <link rel="stylesheet" href="https://static.gujiakai.top/static/fancybox/fancybox.css"/>
  <link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css"/>
  <!-- 百度统计 -->
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?858db234ba6ac5af6f5fd11ec0560b10";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-5PQPB8V2KZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-5PQPB8V2KZ');
  </script>
</head>

<body>

  <header>
    {{- partial "header.html" . -}}
  </header>

  <main>
    {{- block "main" . }}{{- end }}
    <script src="https://static.gujiakai.top/static/jquery/jquery-3.6.0.min.js"></script>
    <script src="https://static.gujiakai.top/static/fancybox/fancybox.umd.js"></script>
    <script src="/js/custom.js"></script>
  </main>

  {{- partial "custom_body.html" . -}}

  <footer>
    {{- partial "footer.html" . -}}
  </footer>
</body>

</html>
